@import "../../vars.css";

.container{
  background-color: var(--color-primary);
}

.content{
  color: var(--color-text);
  font-size: xx-large;
}

.ellipseOne{
  position: absolute;
  right: 100px;
  width: 431px;
  height: 439px;
  border-radius: 439px;
  background: rgba(19, 113, 255, 0.85);
  filter: blur(150px);

}

.ellipseTwo{
  position: absolute;
  top: 540px;
  width: 647px;
  height: 604px;
  border-radius: 647px;
  background: rgba(90, 50, 255, 0.41);
  filter: blur(150px);
}



